# Python compiled files

*.pyc


# Archivos temporales

*~

# Archivos de imagenes

img/*.svg

# Archivos de datos y backup

*.pkl
*.bak


# Archivos de documentacion e Instalacion

docs/*
installer/*
